/* add color, font */

h1{
  text-align: center;
  color:#201b20;
  font-family: cursive;

}

header{
  color: #556666 ; 
  font-size: x-large;
  text-align: center;
  padding: 30px;
  font-style: bold;
  font-family: fantasy;


}

a {
  color:#1a8080 ;
  font-weight: bold;
  font-family: cursive;

}
body{
  margin: 0px;
  padding: 0px;
  background-color: #dd9988;
  color: #3c332b;
  font-size: large;
  font-color: #2e2e38;
  font-family: cursive;
  
}

img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width:auto;
  max-height:auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding:3px;
   border:3px 
   border color:115555 ;

   solid #115555;
   background-color:#ffb366;


}
header{
  
}

footer{
  text-align: center;
  padding: 30px;

}

footer a {
  color:#1a8080 ;
  font-weigth: bold;
  font-family: cursive;
  display: inline;
}