/* add color, font */

h1{
  text-align: center;
  color:#201b20;
  font-family: cursive;

}

header{
  color: #556666 ; 
  font-size: larger;
  text-align: center;
  padding: 10px;
  font-style: bold;
  font-family: fantasy;


}

a {
  color:#1a8080 ;
  font-weight: bold;
  font-family: cursive;

}
body{
  margin: 0px;
  padding: 0px;
  background-color: #dd9988;
  color: #3c332b;


}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width:;
  max-height:;

}
header{
  
}

footer{
  text-align: center;
  padding: 30px;

}

footer a {
  color:#1a8080 ;
  font-weigth: bold;
  font-family: cursive;
  display: inline;
}